@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video {
    position: fixed;
    /* inset: 0; */
    z-index: -1;
    width: 100%;
    height: 100vh;
}
#video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video::after {
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%)
}
body {
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}
header nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top: 10px;
}
header nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Dosis';
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #008000;
    padding: 5px;
}
.logo {
    margin: auto;
}
.logo img {
    width: 80px;
    
}
.imgApresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 40px 0px 0px 0px;
}
.imgApresentacao .ft1, .ft2 {
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgApresentacao .ft1 img, .ft2 img {
    width: 50%;
}
.text {
    color: #fff;
    padding: 30px 20px;
    font-family: 'Dosis';
    font-size: 1.2rem;
    margin: auto;
    word-spacing: 3.2px;
    line-height: 1.5;
}
#assistirTrailer, #comprarIngresso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#assistirTrailer button {
    border-radius: 26% 74% 26% 74% / 100% 0% 100% 0%;
    border: none;
    color: #fdfdfd;
    padding: 10px 15px;
    font-family: 'Dosis';
    font-size: 18px;
    cursor: pointer;
    background-color: #ff0000;
}
#comprarIngresso button {
    border-radius: 26% 74% 26% 74% / 100% 0% 100% 0%;
    background-color: transparent;
    border: 2px solid #008000;
    padding: 10px 15px;
    color: #fdfdfd;
    font-family: 'Dosis';
    font-size: 18px;
    cursor: pointer;
}
#comprarIngresso a {
    text-decoration: none;
    color: #fff;
}
dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: none;
}
.closed {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
}